@font-face {
    font-family: 'Inter', sans-serif;
    src: local(Inter-Thin) format("truetype");
}

h1{
    font-size: 4em;
}

p { 
    font-family:Inter,Arial; 
}

h1{
    text-align:center;

}

#myPictureWrapper{
    text-align: center;
}

body {

    background-color: #a0adca;
}

#formContainer{
    background-color: lightpink;
    width: 50%;
}

#nameInput{

    width: 30%;
}

#emailInput{
    width: 30%;
}